<launch>

   <arg name="rec" default="false"/>

   <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
	<arg name="world_file" value="$(find tinynomad)/world/tinynomad.world"/>
   </include>

   <node name="tinynomad" pkg="tinynomad" type="tinynomad" output="screen"/>

   <node name="record" pkg="rosbag" type="record" args="-a -O $(find tinynomad)/results/recording.bag -x /camera/rgb/image_raw/(.*)|/camera/(.*)" if="$(arg rec)"/>

</launch>
